---
title: Teeccino International
timezone: UTC
collections:
  posts:
    title: Posts
    output: true
  uploads:
    title: Uploads
    output: true
description: Teeccino International Demo
exclude:
- Gemfile
- Gemfile.lock
- gulpfile.babel.js
- LICENSE.md
- node_modules
- package.json
- package-lock.json
- README.md
- src
- tailwind.config.js
- netlify.toml
Field name: 
