<div class="container m-auto text-center flex flex-row flex-wrap items-center mt-16 mb-20 justify-center">
    <div class="w-1/2 md:w-1/5 flex flex-col h-48 mb-8 md:mb-0">
        <img class="mb-2 md:mb-6 max-h-32 ml-auto mr-auto" src="/assets/images/Icons/nocaf.png">
        <h2 class="text-lg md:text-2xl text-teeccino-brown font-poppins font-medium md:w-2/3 ml-auto mr-auto">Caffeine
            Free</h2>
    </div>
    <div class="w-1/2 md:w-1/5 flex flex-col h-48 mb-8 md:mb-0">
        <img class="mb-2 md:mb-6 max-h-32 ml-auto mr-auto" src="/assets/images/Icons/noacid.png">
        <h2 class="text-lg md:text-2xl text-teeccino-brown font-poppins font-medium md:w-2/3 ml-auto mr-auto">Acid Free
        </h2>
    </div>
    <div class="w-1/2 md:w-1/5 flex flex-col h-48 mb-8 md:mb-0">
        <img class="mb-2 md:mb-6 max-h-32 ml-auto mr-auto" src="/assets/images/Icons/prebiotic.png">
        <h2 class="text-lg md:text-2xl text-teeccino-brown font-poppins font-medium md:w-2/3 ml-auto mr-auto">Prebiotic
        </h2>
    </div>
    <div class="w-1/2 md:w-1/5 flex flex-col h-48 mb-8 md:mb-0">
        <img class="mb-2 md:mb-6 max-h-32 ml-auto mr-auto" src="/assets/images/Icons/naturalenergy.png">
        <h2 class="text-lg md:text-2xl text-teeccino-brown font-poppins font-medium md:w-2/3 ml-auto mr-auto">Natural
            Energy
            Boost</h2>
    </div>
    <div class="w-1/2 md:w-1/5 flex flex-col h-48 mb-8 md:mb-0">
        <img class="mb-2 md:mb-6 max-h-32 ml-auto mr-auto" src="/assets/images/Icons/hearthealthy.png">
        <h2 class="text-lg md:text-2xl text-teeccino-brown font-poppins font-medium md:w-2/3 ml-auto mr-auto">
            Heart-Healthy
            Potassium</h2>
    </div>
</div>